/* Body */

body {
    background-color: #414754;
    font-size: 16px;
}

/* Header */

header {
    position:fixed;
    width: 100%;
}

h1 {
    margin-bottom: 0;
}

.menu {
    font-family: 'Pacifico', cursive;
    background-color: #E5D7BE;
    color: #414754;

}

.logoImg {
    width: 50px;
}

.nav-item a,
.logo {
    color: #414754;
}

.logo:hover {
    color:black;
}

/* Header > Fil d'Ariane */

.breadcrumb {
    background:#E3E8F0;
    border-radius: 0rem;
}

.breadcrumb-item a {
    color:#414754;
}

.breadcrumb-item a:hover {
    color:crimson;
}

/* Main */

main {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding-bottom: 200px;
    background-image: url(images/screenWaiting.jpg);
    background-position: center;
}

/* CSS Loader */

.loader{
    font-size: 48px;
    color: #E5D7BE;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }

  .loader:after{
    content: 'En cours de création';
    position: relative;
    z-index: 5;
  }
  
  .loader:before{
    content: '';
    height: 6px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(crimson 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 10s lineGrow linear infinite;
  }
  
  @keyframes lineGrow {to {  background-size: 100% auto}}

/* Footer */

footer {
    display:flex;
    margin-top:20px;
    bottom:0;
    background-color:#E5D7BE;
    color:#414754;
    width:100%;
    text-align:center;
    position:fixed;
}

.socialMiddle {
    padding-bottom:0.5%;
    padding-left:10%;
    width:90%;
}

.socialBottom {
    justify-content:center;
    display:flex;
    flex-direction: column;
    width:10%;
}

.socialLogo {
    color:#414754;
}

.socialLogo:hover {
    color:crimson;
}

.descriptionNewsletter {
    margin-bottom:1rem;
}

.linkESP {
    color:crimson;
}

.linkESP:hover {
    color:#414754;
}

@media screen and (max-width:900px) {
    .loader {
        display:none;
    }
    
}