/* Body */

body {
    background-color: #414754;
    font-size: 16px;
    height:100vh;
    display:grid;
    place-items: center center;
}

/* Header */

header {
    position:fixed;
    width: 100%;
}

h1 {
    margin-bottom: 0;
}

.menu {
    font-family: 'Pacifico', cursive;
    background-color: #E5D7BE;
    color: #414754;

}

.logoImg {
    width: 50px;
}

.nav-item a,
.logo {
    color: #414754;
}

.logo:hover {
    color:black;
}

/* Header > Fil d'Ariane */

.breadcrumb {
    background:#E3E8F0;
}

.breadcrumb-item a {
    color:#414754;
}

.breadcrumb-item a:hover {
    color:crimson;
}

/* Main > Cards */

.serverCards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding:20px;
    grid-gap:40px;
}

.card {
    background:#E5D7BE;
    border-radius:20px;
    box-shadow: 0 0 30px #E3E8F0;
}

.contentCard {
    position:relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
}

.cardOne:hover {
    transform: scale(0.8);
}

.cardTwo:hover {
    transform: scale(0.8);
}

.cardThree:hover {
    transform: scale(0.8);
}


img {
    width:100%;
    display:block;
    border-radius: 20px 20px 0 0;
}

img:hover {
    background:#414754;
    opacity:0.5;
}

.details {
    padding:20px 10px;
}

.details h3 {
    text-align: center;
    color:#414754;
    font-weight: 600;
    font-size: 18px;
    margin:10px 0 15px 0;
}

.details p {
    text-align: justify;
    line-height: 30px;
}





/* FOOTER */

footer {
    display:flex;
    margin-top:20px;
    background-color:#E5D7BE;
    color:#414754;
    width:100%;
    text-align:center;
}

.socialMiddle {
    padding-bottom:0.5%;
    padding-left:10%;
    width:90%;
}

.socialBottom {
    justify-content:center;
    display:flex;
    flex-direction: column;
    width:10%;
}

.socialLogo {
    color:#414754;
}

.socialLogo:hover {
    color:crimson;
}

.descriptionNewsletter {
    margin-bottom:1rem;
}

.linkESP {
    color:crimson;
}

.linkESP:hover {
    color:#414754;
}
