/* Body */

body {
    background-color: #414754;
    font-size: 16px;
}

/* Header */

header {
    width: 100%;
    z-index: 3;
    position: absolute;
    opacity: 0.7;
}

h1 {
    margin-bottom: 0;
}

.menu {
    font-family: 'Pacifico', cursive;
    background-color: #E5D7BE;
    color: #414754;

}

.logoImg {
    width: 50px;
}

.nav-item a,
.logo {
    color: #414754;
}

.breadcrumb {
    background: #E3E8F0;
}

/* Main > Section > Carousel */

.home .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.home .carousel-item .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .carousel-item:before {
    content: ''
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.home .carousel-item .slideTitle {
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    color: #E3E8F0;
    margin: 0 0 10px;
    opacity: 0.5;
}

.home .carousel-item p {
    font-size: 40px;
    margin: 0;
    color: #E5D7BE;
    opacity: 0;
}

.home .carousel-item.active p {
    animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width:991px) {
    .container {
        display:none;
    }
    
}

.home {
    margin-bottom: 20px;
}


.slideOne {
    background-image: url('images/GTAV.jpg')
}

.slideTwo {
    background-image: url('images/minecraft.jpg')
}

.slideThree {
    background-image: url('images/RD2.jpg')
}

/* DIV CARD */

.cardContent {
    width:80%;
    margin:auto;
    background:#E3E8F0;
    border-radius: 50px;
}

.displayCard {
    display:flex;

}

.pictureBloc {
    width:50vw;
}

.descriptionGaming, .descriptionEvent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:1.2em;
    margin:5%;
    text-align:justify;
}

@media screen and (max-width:1453px) {
    .displayCard {
        flex-direction: column;
    }
    .pictureBloc {
        width:100%;
    }
}



/* FOOTER */

footer {
    display:flex;
    margin-top:20px;
    background-color:#E5D7BE;
    color:#414754;
    width:100%;
    text-align:center;
}

.socialMiddle {
    padding-bottom:0.5%;
    padding-left:10%;
    width:90%;
}

.socialBottom {
    justify-content:center;
    display:flex;
    flex-direction: column;
    width:10%;
}

.socialLogo {
    color:#414754;
}

.socialLogo:hover {
    color:crimson;
}

.descriptionNewsletter {
    margin-bottom:1rem;
}

.linkESP {
    color:crimson;
}

.linkESP:hover {
    color:#414754;
}
